[defaults]
inventory = /home/aitouaka/DevOps/projet/aws/ansible/inventory/inventory.yml
roles_path = /home/aitouaka/DevOps/projet/aws/ansible/roles
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
